@charset "utf-8";

/*	Author: Antreas Papadopoulos

/*---------------------------------------------------*/
/*
/*---------------------------------------------------*/


.about_title h3 img, .edina_tm_title h3 img, .project_info h1 img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.project_info h1 {
  margin-bottom: 15px;
  text-decoration: underline;
}

.project_info h3 {
  text-decoration: underline;
}

.project_info h1 img {
  width: 60px;
  height: 60px;
}

.hero_image_small {
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 35px;
  margin-right: 0!important;
  background-size: cover;
  background-position: 50% 50%;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

@media screen and (max-width: 1500px) {
  .hero_image_small {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .hero_image_small {
    margin-left: auto;
    order: 2;
    max-width: 100%!important;
  }
}

.section_our_solution .row {
  align-items: center;
}

.solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 10px 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: auto;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgba(85, 108, 214, .1);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgba(85, 108, 214, .05);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgba(54, 81, 207, .15);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

.solution_card a {
  text-decoration: none;
  background-color: #309df0;
  padding: 5px 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.solution_card:hover a {
  background-color: #fff;
  color: #309df0;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}

.project-card {
  border: 3px solid #34495e;
}

.project-card img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1600px) {
  .project-card img {
    width: 35px;
    height: 35px;
  }
}

.project-tools_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  .value {
    opacity: 0.8;
    text-transform: capitalize;
  }
  .title {
    font-weight: 500;
    color: #34495e;
  }
  li {
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 16px;
    @media (max-width: 599px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

.coming-soon-container {
  width: 50%;
  margin: 50px auto 0 auto;
  h1 {
    padding: 30px 45px 30px 30px;
    background: #34495e;
    color: #fff;
  }
}

@media only screen and (max-width: 1400px) {
  .coming-soon-container {
    width: 100%
  }
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  display: inline-block;
  margin-left: 40px;
  left: -9999px;
  width: 25px;
  height: 25px;
  top: 5px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
  box-shadow: 9999px 0 0 -5px #fff;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
}

.dot-pulse::after {
  right: -15px;
}

.dot-pulse::before {
  right: 15px;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #fff;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #fff;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #fff;
  }
  30% {
    box-shadow: 9984px 0 0 2px #fff;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #fff;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #fff;
  }
  30% {
    box-shadow: 9999px 0 0 2px #fff;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #fff;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #fff;
  }
  30% {
    box-shadow: 10014px 0 0 2px #fff;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #fff;
  }
}

.social i {
  color: #000;
}

/*-------------------------Loader--------------------------*/
.loader {
  position: relative;
  text-align: center;
}

svg {
  position: relative;
  width: 100px;
  height: 100px;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
}
.load.one {
  stroke: #34495e;
  animation: load 1.5s infinite;
}
.load.two {
  stroke: #7795b4;
  animation: load 1.5s infinite;
  animation-delay: 0.1s;
}
.load.three {
  stroke: #d9e2ea;
  animation: load 1.5s infinite;
  animation-delay: 0.2s;
}
.point {
  animation: bounce 1s infinite ease-in-out;
}
.point.one {
  fill: #34495e;
  animation-delay: 0s;
}
.point.two {
  fill: #7795b4;
  animation-delay: 0.1s;
}
.point.three {
  fill: #d9e2ea;
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}
/*---------------------End of Loader----------------------------*/

/*---------------------Blog Post Card----------------------------*/

.post-info{
  width: auto;
  height: auto;
  z-index: -1;
}

.post-info .post-title {
  position: absolute;
  top: 10px;
  left: 25px;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: rgba(245,248,252, .9);
}

.post-info .post-date {
  position: absolute;
  bottom: 10px;
  left: 25px;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: rgba(245,248,252, .9);
}

/*---------------------End of Blog Post Card----------------------------*/